<%- include('../partials/header') %>

<h2>Enter New Flight</h2>
<form action="/flights" method="POST">
  <label>Flight:
    <select name="airline">
      <option value="American">American</option>
      <option value="Southwest" selected>Southwest</option>
      <option value="United">United</option>
    </select>
    <!-- <input type="text" name="airline"> -->
  </label><br>
  <label>Airport:
    <select name="airport" >
      <option value="AUS">AUS</optionn>
      <option value="DFW">DFW</optionn>
      <option value="DEN" selected>DEN</optionn>
      <option value="LAX">LAX</optionn>
      <option value="SAN">SAN</optionn>
    </select>
  </label><br>
  <label>Flight No. 
    <input type="text" name="flightNo" required>
  </label><br>
  <label>Departure
    <input type="datetime-local" name="departs">
  </label><br>
    <button type="submit">Add Flight</button>
</form>

<%- include('../partials/footer') %>